*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(132deg, rgb(146, 11, 126) 0.00%, rgb(52, 29, 49) 100.00%);
}

.container h1{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(0, 255, 247);
    text-shadow: -4px 2px 0px black;

}
.imgs{
    display: flex;
    gap: 40px;

}
img{
    width: 390px;
    height: auto;
    border-radius: 9px;
    object-fit: cover;
    transition: 0.4s;
}
img:hover{
   transform: scale(1.1);
   filter: blur(1px);
   -webkit-filter: blur(1px);
   box-shadow: 0px 4px 9px 0px black;
   
  }

  .overlay{
    position: absolute;
    bottom: 8px;
    left: 16px;
    opacity: 0;
    transition: 0.4s;
  }
  .img-1{
    position: relative;
    color: white;
  }
  .img-1:hover .overlay{
    opacity: 1;
    z-index: 99;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    
  }
  